{% extends "learning_logs/base.html" %}

<!--我们不需要标签{% load bootstrap3 %}，因为我们在这个文件中没有使用任何bootstrap3自 定义标签-->

{% block header %}
  <h1>Topics</h1>
{% endblock header %}

{% block content %}

  <ul>
    {% for topic in topics %}
      <li>
        <h3>
          <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
        </h3>
      </li>
    {% empty %}
      <li>No topics have been added yet.</li>
    {% endfor %}
  </ul>

  <h3><a href="{% url 'learning_logs:new_topic' %}">Add a new topic:</a></h3> <!--添加一个链接到页面new_topic的链接-->

{% endblock content %}
